<!doctype html>
<html>
<head>
  <!-- Page setup -->
  <meta charset="utf-8">
  <title>DR website</title>
  <meta name="description" content="A brief description of your site for search engines">
  <meta name="author" content="Information about the author here">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

  <!-- Stylesheets -->
  <!-- Reset default styles and add support for google fonts -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <!-- Want to add Bootstrap? -->
  <!-- Visit: https://getbootstrap.com/docs/4.3/getting-started/introduction/ -->

  <script src="https://cdn.jsdelivr.net/pyodide/v0.21.3/full/pyodide.js"></script>
</head>

<body>

<header id="header">
  <h1>QUINICHECK</h1>
</header>

      <mat-tab-group animationDuration="700ms">
        <mat-tab label="Últimas quinielas">
          <app-quinicheck></app-quinicheck>
        </mat-tab>
        <mat-tab label="Añade pronóstico">
        </mat-tab>
      </mat-tab-group>
  

</body>
</html>
